
.container {
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.contact {
	width: 50%;
	float:left;
	font: 20px/1.5 Arial Helvetica, Sans-sarif;
	background-color: lightgray;
}

fieldset {
	border: 2px solid black;
	background-color: #ffffff
}

fieldset ~ input, fieldset ~ textarea {
	border-bottom: 1px dotted #dcdcdc;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	width: 70%;
}
fieldset ~ input#submit {
	color: #ffffff;
	background-color: #665544;
	border: none;
	border-radius: 5px;
	width: 80px;}

select {
	font-size: large;
	width: 150px;
	font-weight: normal;
	}

.contact2 {
	width: 50%;
	float:left;
	font: 20px/1.5 Arial Helvetica, Sans-sarif;
	background-color: lightgray;
}

.contact2 h1 {
	text-align: center;
}

.fullrescontainer {
	margin: 0;
	height: 800px;
	overflow: hidden;
	background-color: #ffffff;
}

.fullrescontainer2 {
	margin: 0;
	height: 800px;
	overflow: hidden;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
}


.tabs > img {
	height: 100%;
	width: 100%;
}

.picture {
	height: 100px;
	width: 100px;
}
.picture2 {
	height: 250px;
	width: 200px;
	float:left;
	margin: 5px;
}

.mediumfont {
	font:20px/1.5 Arial, Helvetica, Sans-sarif;
}

/* Tabs for us */

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 20px;
	position: relative;
}

.tabs:after {
	content: "";
	clear: both;
	display: block;
}

.tabs .tab-content{
	display: none;
	position: absolute;
	padding: 20px;
	border: 1px solid black;
	background-color: rgba(69,115,135,0.4)
}

.tabs li > input {
	display: none;
}

.tabs li > label {
	display: inline-block;
	border: 1px solid black;
	height: 100px;
	width: 350px;
	padding:5px 5px 5px 5px;
	margin: auto;
	cursor: pointer;
	border-bottom-width: 0;
	background-color: rgba(69,115,135,0.4);
}

.tabs li > input:checked + label {
	background-color: rgba(69,115,135,0.4);
}

.tabs li > input:checked ~ .tab-content {
	display: inline-block;
}

/* FAQ tabs vertical */

.faqs {
	list-style-type: none;
	padding: 0;
	margin: 20px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.faqs:after {
	content: "";
	clear: both;
	display: block;
	height: 300px;
}


.faqs .faq-content{
	display: none;
	
	padding: 20px;
	border: 1px solid black;
	background-color: rgba(69,115,135,0.4)
}


.faqs li > input {
	display: none;
}


.faqs li > label {
	display: block;
	border: 1px solid black;
	height: 50px;
	padding:5px 5px 5px 5px;
	margin: auto;
	cursor: pointer;
	border-bottom-width: 0;
	background-color: rgba(0,0,0,0.1);
}

.tabs li:last-child > label {
	border-bottom-width: 1px;
}


.faqs li:last-child > label {
	border-bottom-width: 1px;
}

.faqs li > input:checked + label {
	background-color: rgba(0,0,0,0.2);
}

.faqs li > input:checked ~ .faq-content {
	display: block;
}

.textposition {
	position: relative;
	margin-top: 4px;
	text-align: center;
	vertical-align: middle;
}