/* Contactform */

fieldset {
	border: 2px solid black;
	padding-left: 55px;
	color:#ffffff;
	border-radius: 20px;
	background-color: #012650;
	height: 800px;
}
fieldset legend {
	font-size: 200%;
}
input[type="text"], textarea, select {
	background-color: #ffffff;
}

input {
	height: 30px;
	width: 300px;
	font-size:24px;
}
fieldset ~ input, fieldset ~ textarea {
	border-bottom: 1px dotted #dcdcdc;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	width: 70%;

}
textarea {
	font-size:24px;
}

fieldset input#submit {
	color: #ffffff;
	background-color: #1F1F1F;
	width: 180px;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
	
}

fieldset input#submit:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	text-shadow:none;
}

select {
	font-size: large;
	width: 150px;
	font-weight: normal;
	}
/* wrappers */
.contactwrap {
	width:100%;
	float:left;
	font: 20px/1.5 Arial Helvetica, Sans-sarif;
	background-color: #1F1F1F;
}
.faqwrap {
	width: 50%;
	min-width: 400px;
	float:left;
	font: 20px/1.5 Arial Helvetica, Sans-sarif;
	background-color: #1F1F1F;
}
.faqwrap h1, .contactwrap h1 {
	text-align: center;
	color: #ffffff;
}
.fullrescontainer {
	margin: 0;
	overflow: hidden;
	background-color: black;
}
.fullrescontainer2 {
	margin: 0;	
	overflow: hidden;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
}
/* Tabs for us */
.tabs {
	list-style-type: none;
	padding: 0;
	margin: 20px;
	position: relative;
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
}
.tabs .tab-content{
	display: none;
	position: absolute;
	padding: 20px;
	border: 1px solid black;
	color: white;
	background-color: rgba(31,31,31,1)
}
.tabs li label:hover {
	background-color: rgba(1,38,80,0.9);
	color: #ffffff;
	transition: .3s ease;
}
.tabs li > input {
	display: none;
}
.tabs li > label {
	display: inline-block;
	border: 1px solid black;
	height: 100px;
	width: 350px;
	padding:5px 5px 5px 5px;
	margin: auto;
	cursor: pointer;
	border-bottom-width: 0;
	color: #ffffff;
	background-color: rgba(31,31,31,1);
}
.tabs li > input:checked + label {
	background-color: rgba(1,38,80,0.9);
}
.tabs li > input:checked ~ .tab-content {
	display: inline-block;
	top:0;
	bottom: 0;
	border-radius: 0px 20px 20px 0px;
	border-left-width: 0;
}
.tabs li:last-child > label {
	border-bottom-width: 1px;
}
.tabs > img {
	height: 100%;
	width: 100%;
}
.picture {
	height: 100px;
	width: 100px;
	float:left;
}
.picture2 {
	height: 250px;
	width: 250px;
	float:left;
	margin: 5px;
}

.textposition {
	line-height: 100px;
	font-weight: bold;
	margin-left: 5px;
}
.mediumfont {
	font:20px/1.5 Arial, Helvetica, Sans-sarif;
}
/* FAQ tabs vertical */
.faqs {
	list-style-type: none;
	padding: 0;
	margin: 20px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.faqs:after {
	content: "";
	clear: both;
	display: block;
	height: 300px;
}
.faqs .faq-content{
	display: none;
	color: white;
	padding: 20px;
	border: 1px solid black;
	background-color: rgba(1,38,80,0.8)
}
.faqs li > input {
	display: none;
}
.faqs li > label {
	display: block;
	border: 1px solid black;
	height: 50px;
	padding:5px 5px 5px 5px;
	margin: auto;
	cursor: pointer;
	border-bottom-width: 0;
	background-color: rgba(255, 255, 255, 1);
}

.faqs li label:hover {
	background-color: rgba(1,38,80,0.9);
	color: #ffffff;
	transition: .3s ease;
}
.faqs li:last-child > label {
	border-bottom-width: 1px;
}
.faqs li > input:checked + label {
	background-color: rgba(255, 255, 255, 1);
	color: black;
}
.faqs li > input:checked ~ .faq-content {
	display: block;
}
.staff-header{
	display: block;
	color: white;
	margin-top:20px;
	margin-bottom: 20px;
	padding: 20px;
	border: solid black;
	border-top-width: 30px;
	border-bottom-width: 30px;
	background-color: rgba(31,31,31,1);
	font-size: 20px;
	text-align: center;
	border-bottom: solid 2px #005085;
	border-top: 1.5px solid #B86F15;
}
.arrowimg{
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	height: 20px;
	width: 20px;
	float:right;
}
.arrowimg2{
	bottom: :0;
	right: 0;
	float:right;
	height: 20px;
	width: 20px;
}
.arrowdownmobile {
	display: none;
}
.logocontainer{
	border-top: solid 2px #005085;
 	margin-bottom: 20px;
  	text-align: center;
  	margin-top: 20px;
 }
@media all and (max-width: 1200px) {
.tabs{
	min-height: 880px;
	bottom:auto;
}
@media all and (max-width: 800px) {
.fullrescontainer2 {
	float:none;
	width: 100%;
	display: flex;
	flex-direction: column;	
  }
 .fullrescontainer2 div:last-child {
 	order:1;
 }
 .arrowimg2{
	display: none;
}
 .arrowdownmobile {
 	display: inline-block;
 	margin-left: 30px;
	height: 20px;
	width: 20px;
}
 .faqwrap {
 	width: 100%;
 	min-width: 0;
}
 .faqs:after{
 	height: 100px;
 }
 .contactwrap{
 	margin-top:0;
 }
.fullrescontainer {
	margin: 0;
	overflow: hidden;
	background-color: black;
}
.tabs {
	margin:0;
	position: static;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	padding-bottom: 20px;
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
	
}
.tabs .tab-content{
	position: static;
}

.tabs li > label {
	display: block;
	width: 100%;
	height: 50px;
}
.tabs li > input:checked + label {
	color: #ffffff;
}
.tabs li > input:checked ~ .tab-content {
	display: block;
	border-radius: 0px;
	text-align: center;
}
.picture {
	display: none;
}
.picture2 {
	height: 250px;
	width: 250px;
	margin: 5px;
	float:none;
}

.textposition {
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}
.mediumfont {
	font:20px/1.5 Arial, Helvetica, Sans-sarif;
	text-align: left;
}
.arrowimg{
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	height: 20px;
	width: 20px;
}