body {
  background-color: #000000;
}

.imgleft {
  float: left;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
  display: block;
}

.Pmain {
  display: flex;
  background-color: #000000;
  /* background-color: RGB(250,240,250); */
  flex-direction: column;
  color: #FFFFFF;
  margin-top: 20px;
  font-family: 'Roboto';
}
.containerMain {
  position: relative;
  max-width: 1280px;
  min-height: 200px;
  width: 91%;
  margin: 0 auto;
  padding: 0;
}
.innerContainer {
    padding: 0 5%;
    margin: 0;
    position: relative;
}

.Pmain>* {
  /*  background-color: white; */
  background-color: #000000;
}

.Productdisplay {
  display: flex;
  flex-direction: column;
  border-top: solid 2px #005085;
  border-bottom: solid 2px #005085;
}

.Pinfo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.Pinfo>h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1.5px solid #B86F15;
}

.Tbox {
  display: block;
  position: relative;
  top: 20px;
  text-align: left;
}

.Pimage {
    margin: 0 auto;
    padding-top: 20px;
}


.Pimage>img {
  align-self: center;
  height: 200px;
}

.PPPM {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #005085;
  border-top: solid 2px #005085;
  padding-top: 40px;
  padding-bottom: 40px;
    margin-bottom: 100px;
}

.ReviewM {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}
.Ritem {
    display:flex;
    flex-direction: column;
    flex: 0 0 23%;
    padding: 1%;
    min-width: 30px;
}

.Rimage > img {
    max-width: 150px;
    width: 100%;
    margin: auto;
    display: block;
}

.Rcontent {
    text-align: center;
}

.SpecM {
    padding: 20px;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    text-align: center;
}

.SpecM > h4 {
    padding-bottom: 10px;
    text-align: center;
    border-top: black solid 1px;
}

.Tlist {
    align-items: center;
    list-style: none;
}
Productdisplay2 {
  display: flex;
  flex-direction: column;
}
.Pimage .designcompany {
  align-self: center;
  height: 350px;
}

@media all and (max-width: 800px) {

.Pimage .designcompany {
  
  height: 200px;
}
