.footerlinks a:visited, a:link {
  text-decoration: none;
  color: #FFFFFF;
}

/* hover effekt över länkar */

.footerlinks>li>a:hover {
  opacity: 0.5;
  transition: .3s ease;
  backface-visibility: hidden;
}

.footerlinks>li>a:hover {
  opacity: 0.3;
}

/* hover effekt över länkar END... */

.footerBox {
  position: relative;
  display: block;
  background-color: #012650;
  /*#161618;*/
}

.containerfoot {
  padding: 50px 0 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 39em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footerBox>.containerfoot:first-child>ul>li>a::after {
  content: "  \203A";
}

footer>div>ul>li>a {
  font-family: 'Roboto';
}

.footerlinks>li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-copyright {
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  display: block;
}

.footer-trademark {
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  display: block;
}

.containerfootcopy {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 39em;
  text-align: center;
}
