  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: all 0.3s ease-out;
    transition-delay: initial;
  }

  .right-header a:visited {
    color: #222222;
  }

  .right-header a:link {
    text-decoration: none;
    color: #222222;
  }

  body {
    background-color:  #E0E2E4;
  }

  /* Headerstyle.. */

  header {
    height: 50px;
    position: relative;
    background-color: #E0E2E4;
    color: #FAFAFA;
  }

  .head-container {
    height: 100%;
    padding-left: 0px;
    padding-right: 30px;
    /*  max-width: 1280px;*/
    display: block;
  }

  .head-wrapper {
    position: relative;
    height: 100%;
    display: block;
  }

  .left-header {
    position: absolute;
    list-style: none;
    left: 0;
    height: 100%;
  }

  .right-header {
    position: absolute;
    font-family: arial;
    text-transform: uppercase;
    font-size: 10px;
    list-style: none;
    right: 0;
    height: 100%;
  }

  .right-header li {
    display: inline-block;
    position: relative;
    height: 100%;
    list-style: none;
    line-height: 20px;
  }

  .account-link {
    padding: 10px 20px;
    line-height: 25px;
    display: inline-block;
    font-weight: 750;
  }

  .a-text {
    font-size: 120%;
    padding-left: 15px;
    display: inline-block;
    text-decoration: none;
  }

  .headerIcons, .a-text {
    top: 50%;
    position: relative;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
  }

  header li:hover .headerIcons, header li:hover .a-text {
    opacity: 0.3;
  }

  a>img {
    height: 20px;
    position: relative;
  }

  /* Headerstyle and stuff END...*/

  /* navigation style and flex box */

  .navigation {
    border-top: 1px solid #263238;
    border-bottom: 1px solid #263238;
    list-style-type: none;
    padding: 20px 25px;
    margin: 0;
    background: #FFFFFF;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  .navigation li {
    position: relative;
    display: block;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    color: #3b3a30;
    font-family: arial;
  }

  .navigation li:hover {
    /*background: #6F6F6F;*/
    cursor: pointer;
  }

  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation li {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation:last-of-type li {
      border-bottom: none;
    }
    .a-text {
      display: none;
    }
  }

  /* navigation style and flex box END */

  /* Text hover underline effect */

  .navigation li:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  .navigation li:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* Text hover underline effect END... */
