.Pmain {
    display:flex;
    background-color: RGB(70,70,70);
    flex-direction: column;
    text-align: center;
}
.Pmain > * { background-color: gray;}

.Productdisplay {
    display: flex;
    flex-direction: column;
    border-top: solid 1px gray;
}

.Pimage > img {
    align-self: center;
    width: 100%;
    height: 200px;
}

.shortcuts {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin-bottom: 50px;
    border-bottom: solid 1px gray;
}

.shortcuts > div {
    margin: 4%;
    text-align: center;
    width:12%;
}

.shortcuts img {
    width: 4em;
}

.PPPM {
    display:flex;
    flex-direction: column;
    margin-bottom: 300px;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

.FEUM {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

.ReviewM {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    width: 100%;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}
.Ritem {
    display:flex;
flex-direction: column;
flex: 0 0 31%;
padding: 1%;
}

.Rimage > img {
    max-width: 80px;
}

.Rcontent {
    
}

.SpecM {
border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

.SpecM > h4 {
    text-align: left;
    margin: 0;
}

.Tlist {
    align-items: center;
    list-style: none;
    color: dimgrey;
}

.Bottom > img {
    align-self: center;
    width: 100%;
    height: 200px;
    display: block;
}