.Product {display: flex;
    flex-wrap: wrap;
}
.Pitem {display:flex;
flex-direction: column;
flex: 1 29%;
padding: 2%;}
.Pimage > img {max-width: 100%;}
.Pinfo {margin-top: auto;
text-align: center;}
.Pheader{ display: flex;}
.Pheader h2 {flex-grow: 1;}
.Pinput {display: flex;
height: auto;
align-items: center;}